* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container #phone-frame {
  height: 37.5rem;
  width: 18.75rem;
}
@media (max-width: 400px) {
  .container #phone-frame {
    visibility: hidden;
    display: none;
  }
}
.container .container__top {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}
@media (min-width: 400px) {
  .container .container__top {
    position: absolute;
    top: 5rem;
    height: 12rem;
    width: 15rem;
  }
}
@media (max-width: 400px) {
  .container .container__top {
    height: 38vh;
    width: 100%;
  }
}
.container .container__top .input-screen {
  background-color: black;
  color: white;
  height: 2rem;
  text-align: right;
  font-size: 2rem;
  border: none;
}
.container .container__bottom {
  padding-bottom: 2rem;
  background-color: black;
}
@media (min-width: 400px) {
  .container .container__bottom {
    position: absolute;
    top: 17rem;
    height: 18rem;
    width: 15rem;
  }
}
@media (max-width: 400px) {
  .container .container__bottom {
    height: 62vh;
    width: 100%;
  }
}
.container .container__bottom .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  justify-content: center;
  gap: 0.6rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.container .container__bottom .grid-container .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
}
@media (min-width: 400px) {
  .container .container__bottom .grid-container .grid-item--light-grey {
    background-color: #a0a0a0;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    align-items: center;
    font-size: 1.3rem;
    border: none;
    font-family: "Helvetica";
    font-weight: 500;
  }
}
@media (max-width: 400px) {
  .container .container__bottom .grid-container .grid-item--light-grey {
    background-color: #a0a0a0;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    align-items: center;
    font-size: 2rem;
    border: none;
  }
}
.container .container__bottom .grid-container .grid-item--light-grey:active {
  opacity: 0.5;
}
@media (min-width: 400px) {
  .container .container__bottom .grid-container .grid-item--grey {
    background-color: #313131;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    color: white;
    font-size: 1.5rem;
    border: none;
  }
}
@media (max-width: 400px) {
  .container .container__bottom .grid-container .grid-item--grey {
    background-color: #313131;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    color: white;
    border: none;
    font-size: 2rem;
  }
}
.container .container__bottom .grid-container .grid-item--grey:active {
  opacity: 0.5;
}
.container .container__bottom .grid-container .grid-item--long {
  grid-column: span 2;
  -webkit-border-radius: 2rem;
  width: 6.5rem;
  text-align: left;
  padding-left: 1.2rem;
}
@media (max-width: 400px) {
  .container .container__bottom .grid-container .grid-item--long {
    width: 9rem;
    font-size: 2rem;
  }
}
@media (min-width: 400px) {
  .container .container__bottom .grid-container .grid-item--orange {
    background-color: #f69906;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    color: white;
    font-size: 1.5rem;
    border: none;
  }
}
@media (max-width: 400px) {
  .container .container__bottom .grid-container .grid-item--orange {
    background-color: #f69906;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    color: white;
    font-size: 2rem;
    border: none;
  }
}
.container .container__bottom .grid-container .grid-item--orange:active {
  opacity: 0.5;
}/*# sourceMappingURL=styles2.css.map */