*{
    margin:0;
    box-sizing: border-box;
}

.calculator{
    display:flex;
    flex-direction:column;
    align-items:center;

    #calculator__image{

        @media (max-width: 400px) {
            display:none;

            }

        height:37.5rem;
        width:18.75rem;
            
    }

    .calculator__top{


        @media (min-width: 400px) {
            position: absolute;
            top: 5rem;
            height: 12rem;
            width: 15rem;
            }
      
            @media (max-width: 400px) {
            height:38vh;
            width: 100%;
            }

        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding:1rem;

        
        

        .calculator__input-screen{

            background-color: black;
            color:white;
            height:2rem;
            text-align: right;
            font-size: 2rem;
            border:none;
            @media (max-width: 400px) {
            padding-right:2rem;
            }
        }

    }

    .calculator__bottom{

        @media (min-width: 400px) {
            position: absolute;
            top: 17rem;
            height: 18rem;
            width: 15rem;
            }

            @media (max-width: 400px) {
                height:62vh;
                width: 100%;

            }
      
        padding-bottom:2rem;
        background-color: black;
      
        .calculator__grid-calculator {
            display: grid;
            grid-template-columns: auto auto auto auto;
            text-align: center;
            justify-content:center;
            gap:0.6rem;
            margin-left:1rem;
            margin-right:1rem;
            
          .calculator__grid-item {
            background-color: rgba(255, 255, 255, 0.8);


            &--light-grey{
                background-color: #a0a0a0;
                border-radius:50%;
                align-items: center;
                font-family: "Helvetica"; 
                border:none;
            }
           
            @media (min-width: 400px) {
                &--light-grey{
          
                    height:3rem;
                    width:3rem;
                    font-size: 1.3rem;
                    font-weight: 500;
                }
            }


            @media (max-width: 400px) {
                &--light-grey{

                    height:4.5rem;
                    width:4.5rem;
                    font-size: 2rem;
                    
                    }
            }

            &--light-grey:active{
                opacity: 0.5;
            }


            &--grey{

                background-color: #313131;
                border-radius:50%;
                color:white;
                border: none;
            }
            
            @media (min-width: 400px) {

                &--grey{   
                    height:3rem;
                    width:3rem;
                    font-size: 1.5rem;
                }   }

            @media (max-width: 400px) {

                &--grey{
                    height:4.5rem;
                    width:4.5rem;
                    font-size: 2rem;
                }   }

                &--grey:active{
                    opacity: 0.5;
                }

                &--long{
                    grid-column: span 2;
                    -webkit-border-radius: 2rem;
                    width: 6.5rem;
                    text-align: left;
                    padding-left: 1.2rem;

                    @media (max-width: 400px) {
                        width: 9rem;
                        font-size: 2rem;
                    }  
                }
                
                &--orange{
                    background-color: #f69906;
                    border-radius:50%;
                    color:white;
                    border: none;
                }

                @media (min-width: 400px) {

                    &--orange{
               
                        height:3rem;
                        width:3rem;
                        font-size: 1.5rem;

                    }
                }

            
                @media (max-width: 400px) {

                    &--orange{
              
                        height:4.5rem;
                        width:4.5rem;
                        font-size: 2rem;
                    }
                }

                &--orange:active{
                    opacity: 0.5;
                }
                
}
          
}

}}