*{
    margin:0;
    box-sizing: border-box;
}

.container{
    display:flex;
    flex-direction:column;
    align-items:center;

    #container__image{

        @media (max-width: 400px) {
            visibility: hidden;
            display:none;

            }

        height:37.5rem;
        width:18.75rem;
            
    }

    .container__top{

        background-color: black;

        @media (min-width: 400px) {
            position: absolute;
            top: 5rem;
            height: 12rem;
            width: 15rem;
            }
      
            @media (max-width: 400px) {
            height:38vh;
            width: 100%;
            }

        
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding:1rem;

        
        

        .top__input-screen{

            background-color: black;
            color:white;
            height:2rem;
            text-align: right;
            font-size: 2rem;
            border:none;
        }

    }

    .container__bottom{

        @media (min-width: 400px) {
            position: absolute;
            top: 17rem;
            height: 18rem;
            width: 15rem;
            }

            @media (max-width: 400px) {
                height:62vh;
                width: 100%;

                }

        
        padding-bottom:2rem;

        background-color: black;
      
       

        .container__grid-container {
            display: grid;
            grid-template-columns: auto auto auto auto;
            text-align: center;
            justify-content:center;
            gap:0.6rem;
            margin-left:1rem;
            margin-right:1rem;
            
          
          .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
          

            
            @media (min-width: 400px) {
            &--light-grey{

                background-color: #a0a0a0;
                border-radius:50%;
                height:3rem;
                width:3rem;
                align-items: center;
                font-size: 1.3rem;
                border: none;
                font-family: "Helvetica"; 
                font-weight: 500;}
            }


            @media (max-width: 400px) {
                    &--light-grey{

                        background-color: #a0a0a0;
                        border-radius:50%;
                        height:4.5rem;
                        width:4.5rem;
                        align-items: center;
                        font-size: 2rem;
                        border: none;
        
                    }
                    }


                

            &--light-grey:active{

                opacity: 0.5;
            }
            

      
            @media (min-width: 400px) {
            &--grey{

                background-color: #313131;
                border-radius:50%;
                height:3rem;
                width:3rem;
                color:white;
                font-size: 1.5rem;
                border: none;


            }   }

            @media (max-width: 400px) {
                &--grey{
    
                    background-color: #313131;
                    border-radius:50%;
                    height:4.5rem;
                    width:4.5rem;
                    color:white;
                    border: none;
                    font-size: 2rem;

    
    
                }   }
                &--grey:active{
    
                    opacity: 0.5;
                }

                &--long{

                    grid-column: span 2;

                    
                    -webkit-border-radius: 2rem;

                    @media (max-width: 400px) {
                        width: 9rem;
                        font-size: 2rem;
                    }

                    width: 6.5rem;
                    text-align: left;
                    padding-left: 1.2rem;


                    
                }
                
    
         

                @media (min-width: 400px) {

            &--orange{
                background-color: #f69906;
                border-radius:50%;
                height:3rem;
                width:3rem;
                color:white;
                font-size: 1.5rem;
                border: none;

            }
            }

            
            @media (max-width: 400px) {

                &--orange{
                    background-color: #f69906;
                    border-radius:50%;
                    height:4.5rem;
                    width:4.5rem;
                    color:white;
                    font-size: 2rem;
                    border: none;
    
                }
                }

                &--orange:active{
    
                    opacity: 0.5;
                }
                
    

    
}
          
}

}}