*{
    margin:0;
    box-sizing: border-box;
}

.container{
    display:flex;
    flex-direction:column;
    
    


    .container__top{

        background-color: black;
        height: 40vh;

    }

    .container__bottom{

        background-color: black;
        height: auto;


        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto auto;
            height:98%;
            text-align: center;
            justify-content:center;
            gap:1.2rem;
            margin-left:1rem;
            margin-right:1rem;
          
          .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            

            &--light-grey{

                background-color: lightgrey;
                border-radius:50%;
                height:4rem;
                width:4rem;
                align-items: center;


                @media (min-width: 800px) {
                    height:5rem;
                    width:5rem;
                    
                }


            }

            &--grey{

                background-color: grey;
                border-radius:50%;
                height:4rem;
                width:4rem;


                @media (min-width: 800px) {
                    height:5rem;
                    width:5rem;
                    
                }

           


            }

            &--orange{
                background-color: orange;
                border-radius:50%;
                height:4rem;
                width:4rem;


                @media (min-width: 800px) {
                    height:5rem;
                    width:5rem;
                    
                }

             
            }
          }
        }

    }
}



