*{
    margin:0;
    box-sizing: border-box;
}

.calculator{
    display:flex;
    flex-direction:column;
    align-items:center;

    #calculator__image{

        @media (max-width: 400px) {
            display:none;

            }

        height:37.5rem;
        width:18.75rem;
            
    }

    
}